body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 100px;
    margin-left: 100px;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: aquamarine;
}
#recipe-list {
    color: white;

}

.homepage-image {
    width: 300px;
    height: auto;
}

.dish-image {
    width: 600px;
    height: auto;
}


li {
    margin-right: 10px;
}